<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
   <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
   <strong>Role:</strong>
  <%= User.name_role(@user.role_id)%>
</p>
<%= link_to 'Back', users_index_path %>